equinix_client_id      = "<MyEquinixClientId>"
equinix_client_secret  = "<MyEquinixSecret>"

stream_name = "EmergingNetworksStream"
stream_description = "Source for Equinix Events/Metrics/Alerts"

slack_name = "slackSub"
slack_description = "Destination for Equinix Events/Metrics/Alerts"
slack_enabled = true
slack_uri = "<customer_specific_uri>"
slack_filters = [{
  property = "/type"
  operator = "LIKE"
  values = [
    "equinix.fabric.connection%"
  ]
}]
slack_event_exceptions = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
slack_event_selections = ["equinix.fabric.router.*"]
slack_metric_exceptions = ["equinix.fabric.connection.*"]
slack_metric_selections = ["equinix.fabric.port.*"]

msteams_name = "Microsoft Teams Sub"
msteams_description = "Destination for Equinix Events/Metrics/Alerts"
msteams_enabled = true
msteams_uri = "<customer_specific_uri>"
msteams_filters = [{
  property = "/type"
  operator = "LIKE"
  values = [
    "equinix.fabric.connection%"
  ]
}]
msteams_event_exceptions = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
msteams_event_selections = ["equinix.fabric.router.*"]
msteams_metric_exceptions = ["equinix.fabric.connection.*"]
msteams_metric_selections = ["equinix.fabric.port.*"]

splunk_name = "splunkSub"
splunk_description = "Destination for Equinix Events/Metrics/Alerts"
splunk_enabled = true
splunk_uri = "<customer_specific_uri>"
splunk_access_token = "<customer_splunk_access_token"
splunk_filters = [{
  property = "/type"
  operator = "LIKE"
  values = [
    "equinix.fabric.connection%"
  ]
}]
splunk_event_exceptions = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
splunk_event_selections = ["equinix.fabric.router.*"]
splunk_metric_exceptions = ["equinix.fabric.connection.*"]
splunk_metric_selections = ["equinix.fabric.port.*"]
splunk_source = "<splunk_source>"
splunk_event_index = "<splunk_event_index>"
splunk_metric_index = "<splunk_metric_index>"

pagerduty_name = "pagerdutySub"
pagerduty_description = "Destination for Equinix Events/Metrics/Alerts"
pagerduty_enabled = true
pagerduty_host = "<customer_specific_host>"
pagerduty_integration_key = "<pagerduty_integration_key>"
pagerduty_filters = [{
  property = "/type"
  operator = "LIKE"
  values = [
    "equinix.fabric.connection%"
  ]
}]
pagerduty_event_exceptions = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
pagerduty_event_selections = ["equinix.fabric.router.*"]
pagerduty_metric_exceptions = ["equinix.fabric.connection.*"]
pagerduty_metric_selections = ["equinix.fabric.port.*"]
pagerduty_change_uri = "<pagerduty_change_uri>"
pagerduty_alert_uri = "<pagerduty_alert_uri>"

datadog_name = "DatadogSub"
datadog_description = "Destination for Equinix Events/Metrics/Alerts"
datadog_enabled = true
datadog_host = "<customer_specific_host>"
datadog_api_key = "<datadog_api_key>"
datadog_application_key = "<datadog_application_key>"
datadog_filters = [{
  property = "/type"
  operator = "LIKE"
  values = [
    "equinix.fabric.connection%"
  ]
}]
datadog_event_exceptions = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
datadog_event_selections = ["equinix.fabric.router.*"]
datadog_metric_exceptions = ["equinix.fabric.connection.*"]
datadog_metric_selections = ["equinix.fabric.port.*"]
datadog_event_uri = "<datadog_event_uri>"
datadog_metric_uri = "<datadog_metric_uri>"

connection_name       = "Port2Port"
connection_type       = "EVPL_VC"
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com", "test1@equinix.com"]
bandwidth             = 50
purchase_order_number = "1-323292"
aside_port_name       = "ops-user100-CX-SV5-NL-Qinq-STD-1G-SEC-JP-190"
aside_vlan_tag        = "1976"
zside_ap_type         = "COLO"
zside_port_name       = "ops-user100-CX-SV1-NL-Qinq-STD-1G-PRI-NK-349"
zside_vlan_tag        = "3711"
zside_location        = "SV"
