equinix_client_id     = "<MyEquinixClientId>"
equinix_client_secret = "<MyEquinixSecret>"

stream_name        = "EmergingNetworksStream"
stream_description = "Source for Equinix Events/Metrics/Alerts"

slack_name        = "slackSub"
slack_description = "Destination for Equinix Events/Metrics/Alerts"
slack_enabled     = true
slack_uri         = "<customer_specific_uri>"
slack_filters = [{
  property = "/type"
  operator = "LIKE"
  values = [
    "equinix.fabric.connection%"
  ]
}]
slack_event_exceptions  = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
slack_event_selections  = ["equinix.fabric.router.*"]
slack_metric_exceptions = ["equinix.fabric.connection.*"]
slack_metric_selections = ["equinix.fabric.port.*"]
