equinix_client_id      = "<MyEquinixClientId>"
equinix_client_secret  = "<MyEquinixSecret>"

connection_name             = "Metal_2_AWS"
connection_type             = "EVPL_VC"
notifications_type          = "ALL"
notifications_emails        = ["example@equinix.com"]
bandwidth                   = 50
purchase_order_number       = "1-323292"
project_id                  = "<Project_ID>"
aside_ap_authentication_key = "<Metal_Auth_Token>"
aside_ap_type               = "METAL_NETWORK"
zside_ap_type               = "SP"
zside_ap_authentication_key = "<AWS Account Id>"
zside_ap_profile_type       = "L2_PROFILE"
zside_seller_region         = "us-west-1"
zside_location              = "SV"
zside_sp_name               = "AWS Direct Connect"
additional_info = [
  { key = "accessKey", value = "<aws_access_key>" },
  { key = "secretKey", value = "<aws_secret_key>" }
]