sts_source_token                = "<STSSourceToken>"
sts_auth_scope                  = "<STSAuthScope>"

cloud_router_type       = "XF_ROUTER"
cloud_router_name       = "terra_fcr"
cloud_router_metro_code = "SV"
cloud_router_package    = "STANDARD"

account_number          = "<equinix_Account_number>"
project_id              = "<project_id>"

connection_name                 = "fcr_2_sp"
connection_type                 = "IP_VC"
notifications_type              = "ALL"
notifications_emails            = ["example@equinix.com","test1@equinix.com"]
purchase_order_number           = "1-323292"
bandwidth                       = 50
zside_ap_type                   = "SP"
zside_ap_profile_type           = "L2_PROFILE"
zside_location                  = "SV"
zside_fabric_sp_name            = "Ajith Ops User QnQ"

routing_protocol_direct_ipv4_ip     = "190.1.1.1/30"
routing_protocol_direct_rp_name     = "DIRECT_RP"
routing_protocol_bgp_rp_name        = "BGP_RP"
routing_protocol_bgp_customer_asn   = "100"
routing_protocol_bgp_ipv4_ip        =  "190.1.1.2"

route_filter_direction = "INBOUND"
route_filter_policy_name = "rf_policy_PFCR"
route_filter_policy_type = "BGP_IPv4_PREFIX_FILTER"

route_filter_rules = [
  {
    name = "rule_1",
    prefix = "192.168.0.0/24",
    prefix_match = "exact",
    description = "first rule on route filter"
  },
  {
    name = "rule_2",
    prefix = "192.168.1.0/24",
    prefix_match = "orlonger",
    description = "second rule on route filter"
  }
]
