equinix_client_id     = "<MyEquinixClientId>"
equinix_client_secret = "<MyEquinixSecret>"

stream_name        = "EmergingNetworksStream"
stream_description = "Source for Equinix Events/Metrics/Alerts"

servicenow_name              = "ServicenowSub"
servicenow_description       = "Destination for Equinix Events/Metrics/Alerts"
servicenow_enabled           = true
servicenow_host              = "<customer_specific_host>"
servicenow_event_exceptions  = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
servicenow_event_selections  = ["equinix.fabric.router.*"]
servicenow_metric_exceptions = ["equinix.fabric.connection.*"]
servicenow_metric_selections = ["equinix.fabric.port.*"]
servicenow_username          = "<username>"
servicenow_password          = "<password>"
