equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

stream_name        = "EmergingNetworksStream"
stream_description = "Source for Equinix Events/Metrics/Alerts"

splunk_name         = "splunkSub"
splunk_description  = "Destination for Equinix Events/Metrics/Alerts"
splunk_enabled      = true
splunk_uri          = "<customer_specific_uri>"
splunk_access_token = "<customer_splunk_access_token"
splunk_filters = [{
  property = "/type"
  operator = "LIKE"
  values = [
    "equinix.fabric.connection%"
  ]
}]
splunk_event_exceptions  = ["equinix.fabric.connection.route_filter.pending_bgp_configuration"]
splunk_event_selections  = ["equinix.fabric.router.*"]
splunk_metric_exceptions = ["equinix.fabric.connection.*"]
splunk_metric_selections = ["equinix.fabric.port.*"]
splunk_source            = "<splunk_source>"
splunk_event_index       = "<splunk_event_index>"
splunk_metric_index      = "<splunk_metric_index>"

connection_name       = "Port2Port"
connection_type       = "EVPL_VC"
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com", "test1@equinix.com"]
bandwidth             = 50
purchase_order_number = "1-323292"
aside_port_name       = "ops-user100-CX-SV5-NL-Qinq-STD-1G-SEC-JP-190"
aside_vlan_tag        = "1976"
zside_ap_type         = "COLO"
zside_port_name       = "ops-user100-CX-SV1-NL-Qinq-STD-1G-PRI-NK-349"
zside_vlan_tag        = "3711"
zside_location        = "SV"

asset                 = "<asset_type>"

type                  = "METRIC_ALERT"
name                  = "stream-alert-rule"
description           = "stream-alert-rule-description"
operand               = "ABOVE"
window_size           = "PT15M"
warning_threshold     = "<warning_threshold>"
critical_threshold    = "<critical_threshold>"
metric_name           = "equinix.fabric.connection.bandwidth_tx.usage"
resource_selector     = {
    "include" = ["*/connections/<connection_id>"]
}
pagination = {
    limit = 20
    offset = 0
}
