equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

port_order_name          = "ExamplePortOrder"
port_order_metro_code    = "SV"
port_order_bandwidth     = 10000
encapsulation            = "DOT1Q"
purchase_order_number    = "PO-123456"
physical_ports_type      = "1000BASE_LX"
port_type                = "XF_PORT"
port_name                = "panthers-CX-SV5-NL-Dot1q-STD-1G-PRI-JP-170"
physical_ports_speed     = 1000
connectivity_source_type = "COLO"
account_number           = "201257"
org_id                   = "91955"
organization_name        = "ops-user100-201257"
ucm_id                   = "example-ucm-id"
global_cust_id           = "example-global-cust-id"
metro_code               = "SV"
ibx                      = "SV5"
demarcation_point_ibx    = "SV5"
tag_protocol_id          = "example-tag-protocol-id"
product_part             = "example-product-part"
interface_name           = "ge-1/2/8"
physical_port_id         = "example-physical-port-id"
cross_connect_id         = "example-cross-connect-id"
cabinet_number           = "example-cabinet-number"
system_name              = "SV5:01:003033"
cage_unique_space_id     = "example-cage-unique-space-id"
cabinet_unique_space_id  = "example-cabinet-unique-space-id"
patch_panel              = "PP:Demarc:00003033"
patch_panel_name         = "PP:Demarc:00003033"
patch_panel_portA        = "example-patch-panel-portA"
patch_panel_portB        = "example-patch-panel-portB"
project_id               = "example-project-id"
registered_user          = "panthersfcr"

connection_name       = "Port2PublicSP"
connection_type       = "EVPL_VC"
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com"]
bandwidth             = 50
purchase_order_number = "1-323292"
aside_port_name       = "sit-001-CX-SV1-NL-Dot1q-BO-10G-PRI-JP-34"
aside_vlan_tag        = "2019"
zside_ap_type         = "SP"
zside_ap_profile_type = "L2_PROFILE"
zside_location        = "SV"
zside_sp_name         = "AMCRH-Gen-SP"
