equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

port_order_name          = "ExamplePortOrder"
port_order_metro_code    = "SV"
port_order_bandwidth     = 10000
encapsulation            = "DOT1Q"
purchase_order_number    = "PO-123456"
physical_ports_type      = "1000BASE_LX"
port_type                = "XF_PORT"
port_name                = "Test-Port"
physical_ports_speed     = 1000
connectivity_source_type = "COLO"
metro_code               = "SV"
ibx                      = "SV5"
demarcation_point_ibx    = "SV5"
tag_protocol_id          = "0x8150"
physical_port_id         = "1f4bc-6784c-7899ab"
cage_unique_space_id     = "SV5:04:118088"
cabinet_unique_space_id  = "Demarc"
patch_panel              = "PP:Demarc:11113088"
patch_panel_name         = "PP:Demarc:11113088"
patch_panel_portA        = "123"
patch_panel_portB        = "124"
project_id               = "1268h-989shk-898jk"
registered_user          = "testuser"

connection_name       = "Port2PublicSP"
connection_type       = "EVPL_VC"
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com"]
bandwidth             = 50
purchase_order_number = "1-323292"
aside_port_name       = "sit-001-CX-SV1-NL-Dot1q-BO-10G-PRI-JP-34"
aside_vlan_tag        = "2019"
zside_ap_type         = "SP"
zside_ap_profile_type = "L2_PROFILE"
zside_location        = "SV"
zside_sp_name         = "AMCRH-Gen-SP"
