sts_source_token      = "<STSSourceToken>"
sts_auth_scope        = "<STSAuthScope>"

connection_name       = "Port2Port"
connection_type       = "EVPL_VC"
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com", "test1@equinix.com"]
bandwidth             = 50
purchase_order_number = "1-226892"
aside_port_name       = "test-port-1"
aside_vlan_tag        = "1976"
zside_ap_type         = "COLO"
zside_port_name       = "test-port-2"
zside_vlan_tag        = "3711"
zside_location        = "SV"
