sts_source_token  = "<MySTSSourceToken>"
sts_auth_scope    = "<MySTSAuthScope>"

#Service Token
service_token_type                  = "VC_TOKEN"
service_token_name                  = "Terra_Test_Token"
service_token_description           = "Zside VD Token Test"
service_token_expiration_date_time  = "2024-12-29T06:43:49.980Z"
notifications_type                  = "ALL"
notifications_emails                = ["example@equinix.com"]
connection_type                     = "EVPL_VC"
bandwidth_limit                     = 1000
aside_ap_type                       = "COLO"
aside_port_name                     = "<Fabric_Port_Name>"
aside_vlan_tag_type                 = "DOT1Q"
aside_vlan_tag                      = "2876"
