name: terratests-ept-prod-suite

on:
  workflow_dispatch:

jobs:
  setup-tests:
    name: Setup PROD DIGP Tests
    runs-on: ubuntu-latest
    env:
      TF_VAR_equinix_client_id: ${{ secrets.EQUINIX_CLIENT_ID }}
      TF_VAR_equinix_client_secret: ${{ secrets.EQUINIX_CLIENT_SECRET }}
      TEST_DATA_PROD_PORT_2_PRECISION_TIME_PTP: ${{ secrets.TEST_DATA_PROD_PORT_2_PRECISION_TIME_PTP }}
      TEST_DATA_PROD_FCR_2_PRECISION_TIME_NPT: ${{ secrets.TEST_DATA_PROD_FCR_2_PRECISION_TIME_NPT }}
      TEST_DATA_PROD_VD_2_PRECISION_TIME_NPT: ${{ secrets.TEST_DATA_PROD_VD_2_PRECISION_TIME_NPT }}
    outputs:
      message: ${{ steps.slack_message.outputs.message }}

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'
        id: go

      - name: Set up Python3
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Get dependencies
        run: |
          go mod download
          go install github.com/thogarty/go-junit-report/v2@latest
          pip3 install junit2html

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - name: Install jq
        run: |
          sudo apt-get update
          sudo apt-get install jq
          sudo apt-get install -y libxml2-utils

      - name: Setup Variables Files
        run: |
          TIMESTAMP=$(date +"%m%d%M%S")
          SUFFIX="_DIGP"
          echo $TEST_DATA_PROD_FCR_2_PRECISION_TIME_NPT >> "./tests/examples-without-external-providers/cloud-router-2-precision-time-npt/terraform.tfvars.json"
          jq --arg timestamp "$TIMESTAMP" '.connection_name = ($timestamp + "_" + .connection_name)' ./tests/examples-without-external-providers/cloud-router-2-precision-time-npt/terraform.tfvars.json > ./tests/examples-without-external-providers/cloud-router-2-precision-time-npt/tmp.test.json && mv ./tests/examples-without-external-providers/cloud-router-2-precision-time-npt/tmp.test.json ./tests/examples-without-external-providers/cloud-router-2-precision-time-npt/terraform.tfvars.json
          echo $TEST_DATA_PROD_PORT_2_PRECISION_TIME_PTP >> "./examples/port-2-precision-time-ptp/terraform.tfvars.json"
          jq --arg timestamp "$TIMESTAMP" '.connection_name = ($timestamp + "_" + .connection_name)' ./examples/port-2-precision-time-ptp/terraform.tfvars.json > ./examples/port-2-precision-time-ptp/tmp.test.json && mv ./examples/port-2-precision-time-ptp/tmp.test.json ./examples/port-2-precision-time-ptp/terraform.tfvars.json
          echo $TEST_DATA_PROD_VD_2_PRECISION_TIME_NPT >> "./tests/examples-without-external-providers/virtual-device-2-precision-time-npt/terraform.tfvars.json"                                                    
          jq --arg timestamp "$TIMESTAMP" '.connection_name = ($timestamp + "_" + .connection_name)' ./tests/examples-without-external-providers/virtual-device-2-precision-time-npt/terraform.tfvars.json > ./tests/examples-without-external-providers/virtual-device-2-precision-time-npt/tmp.test.json && mv ./tests/examples-without-external-providers/virtual-device-2-precision-time-npt/tmp.test.json ./tests/examples-without-external-providers/virtual-device-2-precision-time-npt/terraform.tfvars.json

      - name: Run Go Tests
        run:
          go test ./tests/prod/precision_time -v -json -count 1 -parallel 8 -run "(DIGP)" -timeout 180m | tee precision_time_prod_suite.log

      - name: Create HTML Testing Report
        run: |
          go-junit-report -parser gojson -in precision_time_prod_suite.log  > precision_time_prod_suite.xml && python3 -m junit2htmlreport precision_time_prod_suite.xml precision_time_prod_suite.html

      - name: Prepare slack message
        id: slack_message
        if: always()
        shell: bash
        run: |
          xml_file=$(find . -type f -name '*prod_suite.xml' | head -n 1)
  
          if [[ -z "$xml_file" ]]; then
            echo "No file ending with prod_suite.xml found."
          exit 1
          fi
  
          tests=$(xmllint --xpath 'string(//testsuite/@tests)' "$xml_file")
          errors=$(xmllint --xpath 'string(//testsuite/@failures)' "$xml_file")
          message="*Results:* $((tests-errors)) Passed, $errors Errors"
          echo "message<<EOF" >> $GITHUB_OUTPUT
          echo "$message" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload HTML Testing Report
        uses: actions/upload-artifact@v7
        with:
          name: EPT Prod Suite Terraform Modules Testing Report
          path: precision_time_prod_suite.html
          compression-level: 0

      - name: Check if Tests are passed
        run: sh scripts/check_tests.sh *suite.log

      - name: Notify Slack
        uses: slackapi/slack-github-action@v2
        if: always()
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_ACCESS_TOKEN }}
          payload: |
            channel: digin-panthers-gha-automation

            attachments:
              - color: ${{ job.status == 'success' && 'good' || job.status == 'failure' && 'danger' || 'warning' }}
                text: |
                    *Repository:* <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.repository }}>
                    *Workflow:* ${{ github.workflow }}           
                    *Status:* ${{ job.status }}
                    *Results:* ${{ steps.slack_message.outputs.message }}
                    *Triggered by:* <@${{ github.actor }}>
                    *Responsibility:* <@U06QU7NE0G7>
